#quiz
  h2
    font-size: 1.2rem
    margin-top: 0

  .question
    border-width: 3px
    border-style: solid
    border-color: transparent
    padding: 15px
    transition: all 500ms ease
    background: $grey-light
    margin-bottom: 30px

  .question.correct
    border-color: $green

  .question.wrong
    border-color: $red

    [type="radio"]:checked + label:after
      background-color: $red
      border-color: $red

  .reasoning
    margin: 0
    height: 0
    visibility: hidden
    opacity: 0
    transition: all 1000ms ease

  .question.correct .reasoning
    height: auto
    visibility: visible
    opacity: 1
