!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "x-ua-compatible", content: "ie=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %link{ rel: "icon", href: "images/favicon.png" }

    %title
      = current_page.data.title + " || Datenbanknormalisierung"

    = stylesheet_link_tag "site"
    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: 'stylesheet' }

  %body{ class: page_classes}
    %header
      .container
        %a.page-title{ href: 'index.html' }
          %i.material-icons dns
          Normalisierung von Datenbanken

    %main
      .row
        .col.l9.s12.content
          = yield
        .col.l3.s12
          .row
            .col.s12.m6.l12
              = partial 'layouts/navigation'
            .col.s12.m6.l12
              = partial 'layouts/copyright'

    = javascript_include_tag "site"
  </body>
</html>
