!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "x-ua-compatible", content: "ie=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %link{ rel: "icon", href: "images/favicon.png" }

    %title Datenbanknormalisierung

    = stylesheet_link_tag "slides"
    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: 'stylesheet' }

  %body

    %header.reveal-header
      Normalisierung von Datenbanken

    .reveal
      .slides
        = yield

    %footer.reveal-footer
      %a{ rel: "license", href: "http://creativecommons.org/licenses/by-sa/4.0/", target: '_blank' }
        %img{ alt: "Creative Commons Lizenzvertrag",src: "https://i.creativecommons.org/l/by-sa/4.0/88x31.png" }


    = javascript_include_tag "reveal"
    :javascript
      Reveal.initialize({
        width: 2500,
        height: 1600
      })
