%h3.table-header Tabelle: Aufträge
%table.striped.responsive-table.z-depth-2
  %thead
    %tr
      %th.primary Datum
      %th.primary Kennzeichen
      %th Automarke
      %th Modell
      %th KdNr.
      %th Kunde
      %th MNr.
      %th Mechaniker
      %th.primary DNr.
      %th Dienstleistungen
      %th Beendet
  %tbody
    %tr
      %td 16.3.2018
      %td.notice MK:KI 163
      %td Volvo
      %td.warning 850
      %td K101
      %td Kiwits
      %td M01
      %td Meinecke
      %td D801
      %td Scheinwerfer reparieren
      %td Ja
    %tr
      %td 4.5.2018
      %td MS:KU 458
      %td Ford
      %td Mondeo
      %td K102
      %td Kurze
      %td M02
      %td Münz
      %td.notice D106
      %td.warning Ausbeulen
      %td Ja
