%h3.table-header Tabelle: Autos
%table.striped.responsive-table.z-depth-2
  %thead
    %tr
      %th.primary Kennzeichen
      %th Automarke
      %th Modell
      %th KdNr.
      %th Kunde
  %tbody
    %tr
      %td DO:KL 558
      %td VW
      %td Golf
      %td.warning K103
      %td.warning Klein
