%h3.table-header Tabelle: Dienstleistungen
%table.striped.responsive-table.z-depth-2
  %thead
    %tr
      %th.primary DNr.
      %th Dienstleistungen
  %tbody
    %tr
      %td D002
      %td Ölwechsel
    %tr
      %td D106
      %td Ausbeulen
    %tr
      %td D401
      %td Bremsen kontrollieren
    %tr
      %td.success D402
      %td Bremsen erneuern
    %tr
      %td D408
      %td Batterie wechseln
    %tr
      %td D801
      %td Scheinwerfer reparieren
