%h3.table-header Tabelle: Kunden
%table.striped.responsive-table.z-depth-2
  %thead
    %tr
      %th.primary KdNr.
      %th Kunde
  %tbody
    %tr
      %td K102
      %td Kurze
    %tr
      %td.success K103
      %td Klein
