%h3.table-header Tabelle: Aufträge
%table.striped.responsive-table.z-depth-2
  %thead
    %tr
      %th Datum
      %th Kennzeichen
      %th Automarke
      %th Modell
      %th KdNr.
      %th Kunde
      %th MNr.
      %th Mechaniker
      %th Dienstleistungen
      %th Beendet
  %tbody
    %tr
      %td 16.3.2018
      %td MK:KI 163
      %td Volvo
      %td 850
      %td K101
      %td Kiwits
      %td M01
      %td Meinecke
      %td.warning D801: Scheinwerfer reparieren, D401: Bremsen kontrollieren
      %td Ja
