<%= definition("Zweite Normalform", "Eine Tabelle befindet sich in zweiter Normalform (2NF), wenn sie sich in erster Normalform befindet und jedes Nichtschlüsselattribut voll funktional von existierenden Schlüsselkandidaten abhängig ist." + source("Kleuker 2016", "https://www.springer.com/de/book/9783658123376") + source("Cushman, Mata-Toledo 2003", "https://books.google.de/books/about/Relationale_Datenbanken.html?id=MLPsAAAACAAJ")) %>

Das Nichtschlüsselattribut ist somit abhängig von der Kombination aller Attribute der Schlüsselkandidaten, nicht nur von einer Teilmenge von ihnen. Wenn der einzige Schlüssel einer Tabelle in 1NF nur aus einem Attribut besteht, ist sie somit auch in 2NF.<%= source("Steiner 2017", "https://www.springer.com/de/book/9783658042875") %>
