<%= table("synth_3nf_customers") %>
<%= table("synth_3nf_ages") %>

Diese Relation befindet sich direkt in dritter Normalform.<%= source("Elmasri, Navathe 2009", "https://www.pearson-studium.de/grundlagen-von-datenbanksystemen.html") %>
