---
title: Was ist Datenbanknormalisierung
---
%section
  %article
    %h1 Ziel der Normalisierung?
    = partial "content/introduction/target"
    = partial "content/introduction/example"
    = partial "content/introduction/problems"
    = chapter("Erste Normalform", "1nf")
