---
title: Syntheseverfahren
---
%section
  %article
    %h1 Syntheseverfahren
    = partial "content/synthesis/introduction"
    = partial "content/synthesis/example"
    = partial "content/synthesis/2nf"
    = partial "content/synthesis/problems"
    = partial "content/synthesis/alternative1"
    = partial "content/synthesis/alternative2"
    = chapter("Zusammenfassung", "summary")
